<!DOCTYPE html>
<html>
<head>
	<title>Crear Fecha</title>
</head>

<script>
function add_input(q){
	var in_ht = "";
	var lq = parseInt(q);
	var p_equip = 1;
	for (var i = 0; i < lq; i++) {
		in_ht = "<input type='text' name='equipo" + p_equip + "'> - <input type='text' name='equipo" + (p_equip+1) + "'> <br>";
		document.getElementById("partidos").innerHTML+=in_ht;

		p_equip += 2;
	}
}
</script>
<body>


<h3>Nueva Fecha en prode {{prode}}</h3><br>

<form method="POST" action="/prodes/{{prode}}/agregar_fecha">

Fecha Numero: <input type="text" name="numero"><br>
Cantidad: <input type="text" name="cantidad" id="cantidad"><button type="button" onclick="add_input(document.getElementById('cantidad').value)">Agregar</button> <br>
<br>

Partidos:<br> 

<div id="partidos">
	
</div>
<button type="submit">Submit</button>
</form>

{% for error in errors %}
	<h4>{{ error }}</h4>
{% endfor %}


</body>
</html>